body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    margin: 0;
}

button {
    padding: 10px 24px;
    font-size: 16px;
    background: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #005fa3;
}

.container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

h3 {
    margin: 0;
    color: #333;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #0078d4;
    outline: none;
}

input::placeholder {
    color: #999;
}



.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.425);
}

.buttons {
    display: flex;
    gap: 10px;
}

.modal-signUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-signUp input {
    width: 70%;
}

.hidden {
    display: none;
}